$breakpoint-extra-small: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1280px;

* {
  box-sizing: border-box;
}

body {
  --color-primary-50: #ebc4e2;
  --color-primary-100: #e0a1d1;
  --color-primary-200: #d47dbf;
  --color-primary-300: #c85aae;
  --color-primary-400: #bd369c;
  --color-primary-500: #b1138b;
  --color-primary-600: #961076;
  --color-primary-700: #7c0d61;
  --color-primary-800: #610a4c;
  --color-primary-900: #470838;
  --color-accent-50: #e4ebc4;
  --color-accent-100: #d4e0a1;
  --color-accent-200: #c4d47d;
  --color-accent-300: #b3c85a;
  --color-accent-400: #a3bd36;
  --color-accent-500: #93b113;
  --color-accent-600: #7d9610;
  --color-accent-700: #677c0d;
  --color-accent-800: #51610a;
  --color-accent-900: #3b4708;
  --color-white: #ffffff;
  --color-grey: #efefef;
  --color-grey-dark: #4b4b4b;
  --color-black: hsl(0deg 0% 0%);
  --space-small: 1rem;
  --space-medium: 2rem;
  --space-large: 4rem;
  --border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Enable Dark-Mode */
body.dark {
  --color-base: hsl(0deg 0% 0%);
  --color-base-1: hsl(0deg 0% 17%);
  --color-contrast: hsl(0deg 0% 100%);
  --color-contrast-1: hsl(0deg 0% 95%);
}

.container {
  padding: 0 var(--space-large);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 var(--space-small);
  }
}
a {
  color: inherit;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1 {
  color: var(--color-primary-500);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

h2 {
  color: var(--color-primary-500);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

h3 {
  color: var(--color-primary-500);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: #3f3f3f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  overflow: hidden;
  max-width: 75ch;
  line-height: 1.5;
}
