* {
  box-sizing: border-box;
}

body {
  --color-primary: #b1138b;
  --color-accent: #3f2be3;
  --color-white: #fff;
  --color-grey: #efefef;
  --color-black: hsl(0deg 0% 0%);
  --color-contrast-1: hsl(0deg 0% 17%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Enable Dark-Mode */
body.dark {
  --color-base: hsl(0deg 0% 0%);
  --color-base-1: hsl(0deg 0% 17%);
  --color-contrast: hsl(0deg 0% 100%);
  --color-contrast-1: hsl(0deg 0% 95%);
}

.container {
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
a {
  color: inherit;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1 {
  color: var(--color-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

p {
  color: #3f3f3f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  overflow: hidden;
  max-width: 75ch;
  line-height: 1.5;
}
